@model EvaluacionFinal.DatabaseSettings

@{
    ViewData["Title"] = "Configuración de Sesión";
}

<h2>Configuración de Sesión</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="motorBaseDatos">Motor de Base de Datos:</label>
        <select class="form-control" id="motorBaseDatos" name="motorBaseDatos">
            @if (Model.MotorSeleccionado == "MS SQL Server")
            {
                <option value="MS SQL Server" selected>MS SQL Server</option>
            }
            else
            {
                <option value="MS SQL Server">MS SQL Server</option>
            }

            @if (Model.MotorSeleccionado == "PostgreSQL")
            {
                <option value="PostgreSQL" selected>PostgreSQL</option>
            }
            else
            {
                <option value="PostgreSQL">PostgreSQL</option>
            }

            @if (Model.MotorSeleccionado == "MySQL")
            {
                <option value="MySQL" selected>MySQL</option>
            }
            else
            {
                <option value="MySQL">MySQL</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="cadenaConexion">Cadenas de conexión:</label>
        <select class="form-control" id="cadenaConexion" name="cadenaConexion">
            @if(Model.CadenaSeleccionada == Model.ConexionMSSql)
            {
                <option value="@Model.ConexionMSSql" selected>@Model.ConexionMSSql</option>
            }
            else
            {
                <option value="@Model.ConexionMSSql">@Model.ConexionMSSql</option>
            }

            @if(Model.CadenaSeleccionada == Model.ConexionPgSql)
            {
                <option value="@Model.ConexionPgSql" selected>@Model.ConexionPgSql</option>
            }
            else
            {
                <option value="@Model.ConexionPgSql">@Model.ConexionPgSql</option>
            }

            @if(Model.CadenaSeleccionada == Model.ConexionMySql)
            {
                <option value="@Model.ConexionMySql" selected>@Model.ConexionMySql</option>
            }
            else
            {
                <option value="@Model.ConexionMySql">@Model.ConexionMySql</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>
}


